<div class="menu-sidebar-content js-scrollbar1">
  <nav class="navbar-sidebar-wrap">
    <ul class="list-styled navbar-list">
      <li>
        <a href="/products">Products</a>
      </li>
      <ol class="list-group navbar-list">
        <li *ngFor="let tempProductCategory of productCategory">
          <a
            routerLink="/category/{{ tempProductCategory.id }}"
            routerLinkActive="active-link"
            >{{ tempProductCategory.categoryName }}</a
          >
        </li>
      </ol>

      <!-- <ol class="list-group navbar-list">
        <li>
          <a routerLink="category/1" routerLinkActive="active-link">Books</a>
        </li>
        <li>
          <a routerLink="/category/2" routerLinkActive="active-link"
            >Coffee Mugs</a
          >
        </li>
        <li>
          <a routerLink="/category/3" routerLinkActive="active-link"
            >Mouse Pads</a
          >
        </li>
        <li>
          <a routerLink="/category/4" routerLinkActive="active-link"
            >Luggage Tags</a
          >
        </li>
      </ol> -->
    </ul>
    <hr />
    <ul class="list-styled navbar-list">
      <li>
        <a href="/users">Users</a>
      </li>
      <li>
        <a href="/roles">Roles</a>
      </li>
    </ul>
  </nav>
</div>
