

<div class="page-wrapper">
  <aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
      <a href="#">
        <img
          src="assets/images/argushop-logo.png"
          alt="ArguShop"
          class="img-responsive"
        />
      </a>
    </div>
    <!-- <app-product-category-menu></app-product-category-menu> -->
  </aside>
  <!-- END MENU SIDEBAR-->

  <!-- PAGE CONTAINER-->
  <div class="page-container">
    <!-- HEADER DESKTOP-->
    <header class="header-desktop">
      <div class="section-content section-content-p30">
        <div class="container-fluid">
          <div class="header-wrap">
            <div class="btn-group" role="group" aria-label="Users and Roles Buttons">
              <div class="mr-2">
                <button class="btn btn-secondary mr-2" routerLink="/users" routerLinkActive="active-link">Users</button>
              </div>
              <!-- <div class="ml-2">
                <button class="btn btn-secondary ml-2" routerLink="/roles" routerLinkActive="active-link">Roles</button>
              </div> -->
            </div>
    
            <div class="account-wrap"></div>
            
            <button
              class="btn btn-danger ml-auto"
              color="accent"
              data-testid="logout"
              (click)="logout()"
              *ngIf="isLoggedIn"
            >
              Logout
            </button>
          </div>
        </div>
      </div>
    </header>

    <!-- MAIN CONTENT-->
    <div class="main-content">
      <!-- <app-product-list></app-product-list> -->
      <!-- <app-login></app-login> -->
      <router-outlet></router-outlet>
    </div>

  </div>
</div>

<!-- END PAGE CONTAINER-->

<footer>
  <ul>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact Us</a></li>
    <li><a href="#">Help</a></li>
  </ul>
</footer>

<!-- end document-->
