<!-- <p *ngFor="let tempUser of users">
  {{ tempUser.firstName }}:{{ tempUser.lastName }}
</p> -->
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Photos</th>
      <th>Email</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Roles</th>
      <th>Enabled?</th>
      <th>Edits</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tempUser of users">
      <td class="align-middle">
        <img
          src="assets/images/Users/{{ tempUser.photos }}"
          class="img-responsive"
        />
      </td>
      <td>{{ tempUser.email }}</td>
      <td>{{ tempUser.firstName }}</td>
      <td>{{ tempUser.lastName }}</td>
      <td>{{ tempUser.roles }}</td>
      <td>{{ tempUser.enabled }}</td>
    </tr>
  </tbody>
</table>
